# HeroesOfPymoli

In [1]:
#extract the filename to be read and analyzed
import os
filename = os.path.join("Resources", "purchase_data.csv")

In [3]:
import pandas as pd
df = pd.read_csv(filename)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

### Total number of Players

In [5]:
# To check if there are any missing elements compare the shape and the count
df.shape

(780, 7)

In [9]:
df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

#### total number of unique players

In [34]:
total_number_of_players = df["SN"].unique().size
print(total_number_of_players)

576

## Purchasing Analysis (Total)

### Number of Unique Items

In [174]:
df["Item Name"].value_counts()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Extraction, Quickblade Of Trembling Hands        9
Fiery Glass Crusader                             9
                                                ..
Exiled Mithril Longsword                         1
Celeste                                          1
Endbringer                                       1
Betrayer                                         1
The Decapitator                                  1
Name: Item Name, Length: 179, dtype: int64

In [89]:
df["Item ID"].value_counts()

178    12
82      9
108     9
145     9
92      8
       ..
42      1
118     1
104     1
27      1
51      1
Name: Item ID, Length: 183, dtype: int64

#### Looks like there are certain items which have same item name but different item id and price!

In [118]:
df.loc[df["Item Name"] == "Final Critic"]

     Purchase ID            SN  Age  Gender  Item ID     Item Name  Price
2              2    Ithergue48   24    Male       92  Final Critic   4.88
99            99  Haisrisuir60   23    Male      101  Final Critic   4.19
252          252      Tyaelo67   39    Male       92  Final Critic   4.88
273          273      Phyali88   15  Female       92  Final Critic   4.88
277          277    Ennalmol65   24    Male       92  Final Critic   4.88
411          411      Lisico81   10    Male      101  Final Critic   4.19
536          536   Siallylis44   20    Male      101  Final Critic   4.19
712          712     Lisilsa62   25    Male       92  Final Critic   4.88
722          722      Ilarin91   22    Male       92  Final Critic   4.88
767          767       Ilmol66    8  Female       92  Final Critic   4.88
768          768  Assassasta79   38    Male       92  Final Critic   4.88
774          774    Jiskjask80   11    Male      101  Final Critic   4.19
778          778       Sisur91    7    Male      101  Final Critic   4.19

In [177]:
# Assuming that the items are same even though the item number is different and the item name is same.
number_of_unique_items = df["Item Name"].value_counts().count()
number_of_unique_items

179

### Total Number of Purchases

In [119]:
total_number_of_purchases = df.count()[0]
total_number_of_purchases

780

### Total Revenue

In [105]:
total_revenue = df["Price"].sum()

2379.77

### Average Purchase Price

In [108]:
Average_purchase_price = total_revenue/total_number_of_purchases
Average_purchase_price

3.0509871794871795

## Gender Demographics

### Percentage and Count of Male Players

In [213]:
df_male = df[df["Gender"] == "Male"]

In [214]:
count_of_unique_male_players = df_male["SN"].unique().size
count_of_unique_male_players

484

In [257]:
percentage_unique_male_players = (count_of_unique_male_players/total_number_of_players)*100
print(" Percentage of Male Players {} %".format(percentage_unique_male_players))

 Percentage of Male Players 84.02777777777779 %

### Percentage and Count of Female Players

In [217]:
df_female = df[df["Gender"] == "Female"]

In [218]:
count_of_unique_female_players = df_female["SN"].unique().size
count_of_unique_female_players

81

In [219]:
percentage_unique_female_players = (count_of_unique_female_players/total_number_of_players)*100
percentage_unique_female_players

14.0625

### Percentage and Count of Other / Non-Disclosed

In [267]:
df_other = df[df["Gender"] == "Other / Non-Disclosed"]

In [269]:
count_of_other_nondisclosed = df_other["SN"].unique().size

In [270]:
percentage_of_other_nondisclosed = (count_of_other_nondisclosed/total_number_of_players)*100
percentage_of_other_nondisclosed

1.9097222222222223

#### Below is the calculation done without considering duplicate players

In [229]:
df["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [252]:
df["Gender"].value_counts()[0]*100/df["Gender"].value_counts().sum() # Male percentage

83.58974358974359

In [253]:
df["Gender"].value_counts()[1]*100/df["Gender"].value_counts().sum() # Female percentage

14.487179487179487

In [256]:
df["Gender"].value_counts()[2]*100/df["Gender"].value_counts().sum() # Other / Non-Disclosed percentage

1.9230769230769231

## Purchasing Analysis (Gender)

### Purchase Count

In [275]:
df["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

### Average Purchase Price

In [263]:
df_male["Price"].sum()/df_male["Price"].count()

3.0178527607361967

In [264]:
df_female["Price"].sum()/df_female["Price"].count()

3.203008849557522

In [271]:
df_other["Price"].sum()/df_other["Price"].count()

3.3459999999999996

### Total Purchase Value

In [272]:
df_male["Price"].sum()

1967.64

In [273]:
df_female["Price"].sum()

361.94

In [274]:
df_other["Price"].sum()

50.19

### Average Purchase Total per Person by Gender