# HeroesOfPymoli

In [622]:
from IPython.display import display
#extract the filename to be read and analyzed
import os
filename = os.path.join("Resources", "purchase_data.csv")

In [3]:
import pandas as pd
df = pd.read_csv(filename)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Total number of Players

In [649]:
pd.DataFrame({"Total Players": [df["SN"].unique().size]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Number of Unique Items
* Total Number of Purchases
* Total Revenue
* Average Purchase Price

In [693]:
df1= df["Price"].agg({"Total Number of Purchases":'count',"Total Revenue": 'sum', "Average Purchase Price":'mean'}).to_frame().T.reset_index(drop=True)

df2 = pd.DataFrame({"Number of Unique Items" : [df["Item ID"].nunique()]})

df2.join(df1)

,Number of Unique Items,Total Number of Purchases,Total Revenue,Average Purchase Price
0,183,780.0,2379.77,3.050987

## Gender Demographics

* Count of Female, Male and Other Players

In [632]:
#df_male = df[df["Gender"] == "Male"].agg(['count', 'percentage'])
df.groupby(["Gender"])["SN"].nunique()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

* Percentage of Female, Male and Other Players

In [510]:
(df.groupby(["Gender"])["SN"].nunique())*100/df.groupby(["Gender"])["SN"].nunique().sum()

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

## Purchasing Analysis (Gender)

### Purchase Count
### Average Purchase Price
### Total Purchase Value

In [609]:
df.groupby(['Gender'])["Price"]\
.agg(['count', 'mean', 'sum'])

                       count      mean      sum
Gender
Female                   113  3.203009   361.94
Male                     652  3.017853  1967.64
Other / Non-Disclosed     15  3.346000    50.19

### Average Purchase Total per Person by Gender

In [563]:
df.groupby(['Gender'])["Price"].sum()/df.groupby(['Gender'])["SN"].nunique()

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

## Age Demographics

 The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
* Purchase Count
* Average Purchase Price
* Total Purchase Value

In [610]:
bins = pd.cut(df['Age'],  [0, 10, 14, 19,24,29,34, 39, 44,49 ])

df_new = df.groupby(bins)['Price'].agg(['count', 'mean','sum'])
df_new

          count      mean      sum
Age
(0, 10]      32  3.405000   108.96
(10, 14]     19  2.681579    50.95
(14, 19]    136  3.035956   412.89
(19, 24]    365  3.052219  1114.06
(24, 29]    101  2.900990   293.00
(29, 34]     73  2.931507   214.00
(34, 39]     41  3.601707   147.67
(39, 44]     12  3.045000    36.54
(44, 49]      1  1.700000     1.70

* Average Purchase Total per Person by Age Group

In [597]:
avrg_pur_total_per_person = (df.groupby([bins, 'Gender'])['Price'].sum()/df.groupby([bins, 'Gender'])["SN"].nunique()).rename("Average")
avrg_pur_total_per_person[:]

Age       Gender
(10, 14]  Female                   3.750000
          Male                     3.371429
          Other / Non-Disclosed         NaN
(14, 19]  Female                   4.880000
          Male                     3.698140
          Other / Non-Disclosed    2.972500
(19, 24]  Female                   4.387750
          Male                     4.298879
          Other / Non-Disclosed    4.647500
(24, 29]  Female                   4.960000
          Male                     3.647647
          Other / Non-Disclosed    5.280000
(29, 34]  Female                   3.944000
          Male                     4.133617
          Other / Non-Disclosed         NaN
(34, 39]  Female                   3.553333
          Male                     4.714615
          Other / Non-Disclosed    7.215000
(39, 44]  Female                   4.400000
          Male                     3.214000
          Other / Non-Disclosed         NaN
(44, 49]  Female                        NaN
          Male                     1.700000
          Other / Non-Disclosed         NaN
Name: Average, dtype: float64

### Top Spenders
* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame